.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-size: 2rem;
}

.pagination button {
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.pagination button:hover {
  background-color: var(--secondary-color);
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.current-page {
  font-weight: 600;
  padding: 0 0.5rem;
  color: var(--secondary-color);
}
