.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Pagination boutons */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

/* Boutons */
.pagination-controls button {
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.pagination-controls button:hover {
  background-color: var(--secondary-color);
}

.pagination-controls button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.current-page {
  font-weight: 600;
  padding: 0 0.5rem;
  color: var(--primary-color);
}

/* Dropdown */
.pagination-limit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.limit-select {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  cursor: pointer;
}

.limit-select:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
