.hero-section {
  position: relative;
  z-index: 0;
  text-align: center;
  color: black;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  overflow: hidden;
  height: 300px;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.5);
}

/* Image de fond */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/marvel-background2.avif");
  background-size: cover;
  background-position: center;
  z-index: -2; /* ⬅️ image tout au fond */
}

/* Voile blanc par-dessus l’image */
.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3); /* 👈 voile ajustable */
  z-index: -1; /* ⬅️ entre l’image et le contenu */
  pointer-events: none;
}

.hero-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  opacity: 0;
  transform: scale(0.85) translateY(30px);
  animation: heroFadeIn 4s ease-in-out forwards;
  color: var(--secondary-color);
}

/* image dans le titre */
.hero-title-logo {
  height: 60px;
  transform: translateY(8px);
  animation: logoFadeIn 2.5s ease-in-out forwards;
}

@keyframes heroFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(30px);
  }
  60% {
    opacity: 1;
    transform: scale(1.02) translateY(-5px); /* effet de rebond subtil */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.hero-desc {
  font-size: 2rem;
}

.hero-buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.8rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.hero-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
}
